.grammar-container {
    padding: 20px;
}

.section-main-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.grammar-section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.grammar-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.grammar-card {
    display: flex;
    background: #fff;
    border-radius: 14px;
    padding: 16px;
    border: 1px solid #eee;
    cursor: pointer;
    transition: 0.2s;
}

.grammar-left {
  flex: 1;
}

.grammar-right {
  width: 40%;
}

.grammar-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.grammar-topic {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grammar-rule {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.grammar-strategy {
    font-size: 14px;
    color: #174593;
    margin-bottom: 10px;
}

.grammar-examples {
    font-size: 13px;
}

.example {
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
  font-size: 13px;
}

.input {
  color: #999;
}

.output {
  color: #174593;
  font-weight: 600;
}

.arrow {
    color: #aaa;
}