@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body {
  font-family: poppins;
  background: #f9fafb;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Mobile first */
@media (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }

  .desktop-btn {
    display: none !important;
  }

  .mobile-toggle {
    display: block !important;
  }
}

.tabs-container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 48rem) {
  .tabs-container {
    overflow-x: visible !important;
    white-space: normal !important;
    flex-wrap: wrap;
  }
}

.test-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 768px) {
  .test-layout {
    grid-template-columns: 1fr;
  }
}